
.row-content {
    padding: 50px 0;
    min-height: 200px;
  }


h1 { 
    font-family: 'Dancing Script', cursive;
}

h3, .navbar-brand {
    font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display', serif;
}

.navy-blue {
    background-color: #0b2647;
}

.card-title {
  color : #bfb368;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.blog-footer {
    padding: 2rem 0;
    color: #999;
    background-color: #f9f9f9;
 
}
/*homepage images*/

#homeImage1
{
  position:relative;
  top: 30px;
  left: -40px;
  z-index: 2;
}

#homeImage2
{
  position:relative;
 bottom: -130px;
  left: -110px;
  z-index: 1;
}

#goldorb {
    position:relative;
    top: -32px;
    right: -35px;
    z-index: 1;
}

.grayBackground{
    background-color: #7b7a76;
}


/* unvisited link */
a:link {
  color: rgb(255, 255, 255);
}

/* visited link */
a:visited {
  color: rgb(38, 159, 180);
}

.card {
  border: 0px;
}


/* colors red #950b10 blue #13609f gold #bfb368 dark gray #7b7a76 light gray #e2e2e2*/