

.jumbotron {
  background-image: url("images/jumboImage.jpg");
 
  -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat:space;
}

.row-content {
    padding: 50px 0;
    min-height: 200px;
  }


h1 { 
  font-family: 'Allura', cursive;

}

h2, h4 {
   font-family: 'Playfair Display', serif;
}

h3 {
    
font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}

hr {
  background-color:white;
  width:50%
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}



@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}



.colorBackground{
  background-image:url("images/backgroundColor.png");
  background-attachment:scroll;
}

/* unvisited link */
a:link {
  color: rgb(255, 255, 255);
}

/* visited link */
a:visited {
  color: rgb(255, 255, 255);
}

.card {
  border: 0px;
}

.card-body{
  background-color: rgba(17, 17, 17, 0.5);
  padding: 0;
}




em {
  color:#e8bb5c; 
  font-family: 'Allura', cursive;
}

.underline {
  text-decoration: underline #e8bb5c;
}

.darkBlue {
  background-color: #7a8794;
}



/* colors red #950b10 blue #13609f gold #bfb368 dark gray #7b7a76 light gray #e2e2e2*/